.guideWrapper {
	overflow-x: hidden;
}

.time-header {
	font-weight: bold;
	line-height: 50px;
	border-bottom: 1px solid #CCC;
}

.times > div {
	border-left: 1px solid #CCC;
}

.channel {

}

.channel-name {
	font-weight: bold;
}

.channel-name, .channel-contents {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #CCC;
}

.channel-contents > .row {
	position: relative;
	height: 50px;
}

.no-info {
	text-align: center;
	color: #999;
}

.movie {
	position: absolute;
	padding: 0 10px;
	border: none;
	border-left: 5px solid rgba(150,200,255,1);
	background-color: rgba(150,200,255,0.2);
	transition: background-color 0.3s;
}

.movie:hover {
	background-color: rgba(150,200,255,0.3);
}

#recordModal img.skyLogo {
	margin: 10px;
}

#recordModal .media-heading {
	line-height: 72px;
}

#recordModal .modal-header, #recordModal .modal-footer {
	border: none;
}

#recordModal .modal-body {
	padding: 0 20px 15px;
}